<turbo-frame id="<%= dom_id user %>" class="min-w-full flex justify-between items-center">
  <div>
    <%= user.username %>
    </br>
    <%= user.email %>
  </div>
  <div>
    <%= link_to "Edit", edit_user_path(user),
              class: "btn bg-gray-100"
    %>
  </div>
</turbo-frame>