<h1 class="font-bold text-2xl block">Task Manager</h1>

<% if @users.empty? %>
  <h2 class="text-l block">THERE ARE NO USERS</h2>
<% end %>

<div class="mt-4 block">
  <%= render @users %>
</div>

<%= link_to 'Create new user', new_user_path %>