<h1> Hi from Users#new </h1>

<%= form_tag("/users", method: "post") do %>

<% end %>

<form accept-charset="UTF-8" action="/users" method="post">
  <label for="username">username:</label><br/>
  <input type="text" id="username" name="user[username]"><br/>
  <label for="email">e-mail:</label><br/>
  <input type="text" id="email" name="user[email]"><br/>
  <label for="password">password:</label><br/>
  <input type="password" id="password" name="user[password]"><br/><br/>
  <input type="submit" value="Submit">
</form>
